body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.menu {
    border: 3px solid black;
    background-color: rgb(145, 170, 116);
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    .menu_link {
        border: 2px solid black;
        padding: 5px;
        color: cornflowerblue;
        background-color: rgb(146, 226, 146);
        font-size: 16px;
        line-height: 20px;
        margin: 5px;
        text-decoration: none;
    }
    .menu_link:hover {
        border: 2px solid black;
        padding: 5px;
        color: cornflowerblue;
        background-color: rgb(146, 226, 146);
        margin: 5px;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        color: #FFFAC0;
        background: #AB4A9C;
    }
}

.content {
    padding: 15px;
    
    .content_heading {
        text-align: center;
        color: #222222;
        font-size: 28px;
        line-height: 36px;
        font-weight: 700;
    }
    
    .content_pharagraph {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #7D7987;
    }
    
    .content_liteHeading {
        color: coral;
        font-weight: 700;
        font-size: 36px;
        line-height: 80px;
        text-align: center;
    } 
}



.cardBox {
    display: flex;
    margin: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    .cardBox_product {
        border: 3px solid black;
        width: 250px;
        margin: 15px;
        padding: 5px;
    }
}
